@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/MyCss/global.css" />
<link rel="stylesheet" href="~/MyCss/gioithieu.css" />
<link rel="stylesheet" href="~/MyCss/mainpage.css" />
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../MyImage/hs.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

        .hero-text button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 25px;
            color: black;
            background-color: #ddd;
            text-align: center;
            cursor: pointer;
        }

            .hero-text button:hover {
                background-color: #555;
                color: white;
            }
</style>
<body>

    <div class="hero-image" style="position: absolute; width: 100%; top: 0px; right: 0px; font-family: Arial, Helvetica, sans-serif; color:white; z-index: -1;">
        <div>
            <div class="qun-l-hc-container">
                <span>QUẢN LÍ HỌC TẬP TRONG </span>
                <span class="gia-nh">GIA ĐÌNH</span>
            </div>
            <div class="frame-child"></div>
            <div class="tham-gia-ngay" onclick="showDangKy()">Tham gia ngay</div>
            <div class="qun-l-d">
                Quản lí dữ liệu bài tập cho học sinh, an toàn , nhanh chóng
            </div>
            <div class="qun-l-im">
                Quản lí điểm, bài tập về nhà, giao bài nhanh chóng
            </div>
            <div class="tin-li-giao">
                Tiện lợi, giao diện đơn giản , dễ dàng sử dụng cho học sinh và phụ huynh
            </div>
            <img class="checked-1-icon" alt="" src="~/MyImage/checked.png" />

            <img class="checked-2-icon" alt="" src="~/MyImage/checked.png" />

            <img class="checked-3-icon" alt="" src="~/MyImage/checked.png" />

            <div class="frame-item"></div>
            <img class="open-book-1-icon" alt="" src="~/MyImage/open-book.png" />

            <b class="to-do-list">To do list</b>
            <div class="frame-inner"></div>
            <b class="xem-im">Xem Điểm</b>
            <div class="rectangle-div"></div>
            <b class="xem-tkb">Xem TKB</b>
            <img class="grade-1-icon" alt="" src="~/MyImage/grade.png" />

            <img class="calendar-1-icon" alt="" src="~/MyImage/calendar.png" />
        </div>
    </div>
</body>