@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/MyCss/lienhe.css" />
<div style="position: absolute; width: 100%; height: 50%; top: 0px; right: 0px; font-family: sans-serif; z-index: -1;">
    <div class="macbook-pro-14-1-parent">
        <div class="macbook-pro-14-1">
            <div class="macbook-pro-14-1-item"></div>
            <b class="chat-trc-tuyn-container">
                <p class="ti-l-ph">Chat trực tuyến</p>
            </b>
            <img class="chat-4-icon" src="~/MyImage/support.png" />

            <div class="macbook-pro-14-1-inner"></div>
            <b class="chat-trc-tuyn-container">
                <p class="ti-l-ph">Chat trực tuyến</p>
            </b>

            <b class="chat-trc-tuyn-container">
                <p class="ti-l-ph">Chat trực tuyến</p>
            </b>
            <div class="chat-4-icon"></div>
            <div class="rectangle-div"></div>
            <div class="macbook-pro-14-1-child1"></div>
            <b class="bn-cn-h">Bạn cần hỗ trợ ?</b>
            <b class="longvigmailcom">Longvi@gmail.com</b>

            <b class="b">19003003</b>

            <b class="thng-tin-lin-container">
                <span> </span>
                <span class="thng-tin-lin">Thông tin liên hệ </span>
            </b>
            <b class="text1">
                <p class="ti-l-ph">&nbsp;</p>
            </b>
            <div class="macbook-pro-14-1-child2"></div>
            <div class="n">Đồ ắn</div>
            <img class="mail-1-icon" alt="" src="~/MyImage/gmail.png" />

            <img class="page-1-icon1" alt="" src="~/MyImage/telephone.png" />

            <img class="support-1-icon" alt="" src="~/MyImage/support.png" />
        </div>
    </div>
</div>

