@model IEnumerable<CNPM_DOAN.Models.NGUOIDUNG>

@{
    ViewBag.Title = "showUserTKB_PH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <script src="~/MyJs/todo.js"></script>
    <div class="container">
        <div class="infoTodo">
            @foreach (var item in Model)
            {
                <div class="infoTodoItem" onclick="location.href='@Url.Action("showTKB_PH", "THOIKHOABIEUx", new { iduser = item.IDNguoiDung })'">
                    <div style="display: flex;">
                        <p class="details-link" id="open-dialog">@item.TenNguoiDung</p>
                        <div class="open-infoDetail" id="open-infoDetail" style="z-index:3;">
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</body>
